@import "tailwindcss";

body {
  background-color: #141414; /* Netflix dark background */
  color: #ffffff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
